.App {
  text-align: center;
}
.manga{
  display: grid;
  grid-template-columns: repeat(4, 15rem);
  gap: 2rem;
  grid-auto-rows: 20rem;
  justify-content: space-around;
  align-items: center;
  width: 70rem ;
  background-color: #ebecee;
  margin-left: 7rem;
  padding: 3rem 2rem; 
}
.paragraphe{
  width: 15rem;
  text-align: center;
  background-color:whitesmoke;
}
.image{
  width: 15rem;
  
}
.photo{
  width: 15rem;
  height: 10rem;
}
button{
  background-color: rgb(253, 195, 4);
  border: none;
}
.ajouter{
  height: 10rem;
}
.fa-duotone{
  width: 5rem;
  height: 5rem;
}
.is-active{
  text-decoration: bold;
}
.detailsFilm{
  display: flex;
}
.title{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25rem;
  margin : auto ;
}
.genre{
  display:flex;
  justify-content: space-around;
  margin : auto ;
  width: 25rem;
}
.tof{
  width: 30%;
  height: 50rem;
}
.natal{
  width: 100%;
  height: 60%;
}
.texte{
  width: 75%;
  margin-left: 5rem;
}
.para{
  width: 90%;
}
.add+.btn{
  width: 50rem;
}
label{
  margin: auto;
  padding-top: 2rem;
}
.add{
  height: 20rem;
}